REACT_APP_FIREBASE_API_KEY = AIzaSyAgpNrjLNGEDKEPkqF9tISz-F11gHiSDxE
REACT_APP_FIREBASE_AUTH_DOMAIN = fir-react-19d08.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID = fir-react-19d08
REACT_APP_FIREBASE_STORAGE_BUCKET = fir-react-19d08.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER = 584095717609
REACT_APP_FIREBASE_APP_ID = 1:584095717609:web:a62b5fd3c8faa25cf3b878